<nav class="navbar navbar-inverse navbar-default navbar-static-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <a href="/" class="navbar-brand">Todoie - <small>a stupid todo app with Express 4 &amp; Ember.js</small></a>
      </div>
      <p class="navbar-text navbar-right disabled"><a href="#" class="navbar-link" onclick="alert('Users &amp; Authentication coming in next post in series. We\'ll be using Passport.js');">Sign In</a></p>
    </div>
  </nav>

  <main class="container">
    {{ outlet }}
  </main>